@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar-items {
        @apply flex
        items-center
        text-sm
        font-semibold
        box-border
        pl-6
        py-3
        rounded-r-full
        space-x-8
        bg-gray-100 bg-opacity-0 bg-blend-color
        hover:bg-opacity-30 active:bg-yellow-800 active:bg-opacity-30 focus:bg-yellow-800;
    }
}

/* sidebar */
#sidebar-check:checked ~ .sidebar {
    left: -210px;
}

#sidebar-check:checked ~ .sidebar a span {
    display: none;
}

#sidebar-check:checked ~ .sidebar a {
    margin-left: 210px;
    width: 70px;
}

#sidebar-check:checked ~ .content {
    margin-left: 80px;
}

ul > li:hover > .remove-list-btn,
ul > li:focus-within > .remove-list-btn {
    display: inline-block;
}
